<h1>New Element</h1>

<%# render 'form' %>

<div class="element">
  <div class="controls">
    <button class="action-bold-1">B</button>
    <button class="action-italic-1">I</button>
    <button class="action-underline-1">U</button>
    <button class="action-unformat-1">X</button>
  </div>
  <div class="content">
  This is an element
  </div>
</div>

<div class="element">
  <div class="controls">
    <button class="action-bold-2">B</button>
    <button class="action-italic-2">I</button>
    <button class="action-underline-2">U</button>
    <button class="action-unformat-2">X</button>
  </div>
  <div class="content">
  This is an element
  </div>
</div>

<button id="cool-btn">cool</button>

<%= link_to 'Back', elements_path %>
