
<div class="flexcontainer">
<div class="about">
<h3>Code paste is a code snippet tool that lets you anonymously paste code so you can quickly share it.</h3>
  <%= link_to "Try it", '/pages', method: :post %>
  </div>
</div>