



<script type="text/template" id="codeTemplate">
  <div class="code" data-element-id="{{ element_id }}">
    <div class="controls">
      <span id="font-span">Font</span>
      <button class="font-size inc"><i class="fa fa-plus"></i></button><!--
   --><button class="font-size dec"><i class="fa fa-minus"></i></button>
      <select id="theme">
        <option value="">Theme</option>
        <option value="default">Default</option>
        <option value="blackboard">Blackboard</option>
      </select>
      <select id="language">
        <option value="">Language</option>
        <option value="javascript">Javascript</option>
        <option value="ruby">Ruby</option>
        <option value="css">CSS</option>
        <option value="htmlmixed">HTML</option>
      </select>
      <button class="delete"><i class="fa fa-trash-o fa-2x"></i></button>
    </div>
    <input type="text" class="element-title" placeholder="Code snippet label (optional)" value="{{ element_title }}"/>
  </div>
</script>


<div class="gridster">
</div>