/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require codemirror
 *= require blackboard
 *= require jquery.gridster
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-image: url('code.jpeg');
  background-size: cover;
}

.wrapper {
  max-width: 1200px;
  margin: 48px auto 0 auto;
  min-height: calc(100vh - 48px);

}

.flexcontainer {
  min-height: calc(100vh - 48px);
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column; /* works with row or column */
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

div.about {
  background: lightblue;
  opacity: 0.9;
  text-align: center;
  border-radius: 5px;
  padding: 1em;

  a {
    text-decoration: none;
    background-color: #2196F3;
    color: white;
    padding: 1em;
    text-size: 1em;
    border-radius: 5px;
  }
}