// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.element {
  border: 1px solid black;
  height: 5em;
}

button.active {
  background: lightblue;
}

.element-title {
  width: 100%;
}