// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.element {
  border: 1px solid black;
  height: 5em;
}

button.active {
  background: lightblue;
}

.element-title {
  width: 100%;
}

#font-span {
  vertical-align: middle;
}

.delete {
  float: right;
}

.font-size.inc {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.font-size.dec {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input.element-title {
  border-radius: 0px;
}